/*colors*/
:root {
  --dk-grey: #3e3e3e;
  --white: #f2f2f2;
}

/* baseline */
.hidden {
  display: none;
}
svg {
    width: 3rem;
    color: var(--white);
  }
header{
    background-color: var(--dk-grey);
    display: flex;
}
  
/* nav*/
nav{
    display: flex;
    align-items: baseline;
    margin-left: 3rem;
    
}

nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    position: relative;
    margin-bottom: 0.5rem;
}
nav a{
    color: var(--white);
    font-size: 2.5rem;
}
nav ul li ul{
    display: none;
}
nav ul li:hover ul{
    display: block;
    position: absolute;
    background-color: var(--dk-grey);
}
nav ul li ul li a{
    text-align: center;
    white-space: nowrap;
    padding-bottom: 1rem;
}
nav ul li a{
    text-decoration: none;
    display: flex;
    margin-right: 3rem;
    padding: 1rem;
}
nav ul li ul li a{
    text-decoration: underline;
}
.home{
    font-weight: 900;
    text-decoration: none;
    font-size: 5rem;
 }

/* footer */
footer{
    background-color: var(--dk-grey);
    font-size: 2rem;
    display: grid;
    grid-template-columns: 50% 20%;
    padding: 2.5rem 0 4rem 0
}
.footer-links a{
    text-decoration: none;
    color: var(--white);
}
.footer-links li{
    list-style: none;
}
table{
    margin-left: 3rem;
}
table a{
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
}
th{
    color: var(--white);
    font-size: 2.5rem;
    text-align: start;
    padding-top: 2rem;
    padding-right: 5rem;
}
.socials{
   padding-top: 3rem;
}
