/*----------------------------colors-----------------------*/
:root {
  --dk-grey: #3e3e3e;
  --dker-grey: #404040;
  --white: #f2f2f2;
  --lt-grey: #707070;
  --off-white: #f1f1f1;
  --off-green: #727812;
  --black: black;
  --yellow: #b29124;
  --red: red;
}

/* ----------------------baseline-------------------------- */
.hidden {
  display: none;
}
svg {
  fill: var(--white);
  width: 3rem;
  color: var(--white);
  margin-left: 1rem;
}
header {
  background-color: var(--dk-grey);
  display: flex;
}
/* ------------------------------nav-------------------------*/
nav {
  display: flex;
  align-items: baseline;
  margin-left: 3rem;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  position: relative;
  margin-bottom: 0.5rem;
}
nav a {
  color: var(--white);
  font-size: 2.5rem;
}
nav ul li ul {
  display: none;
}
nav ul li:hover ul {
  display: block;
  position: absolute;
  background-color: var(--dk-grey);
}
nav ul li ul li a {
  text-align: center;
  white-space: nowrap;
  padding-bottom: 1rem;
}
nav ul li a {
  text-decoration: none;
  display: flex;
  margin-right: 3rem;
  padding: 1rem;
}
nav ul li ul li a {
  text-decoration: underline;
}
.home {
  font-weight: 900;
  text-decoration: none;
  font-size: 5rem;
}

/*-------------------------------------footer------------------------------------ */
footer {
  background-color: var(--dk-grey);
  font-size: 2rem;
  display: grid;
  grid-template-columns: 50% 20%;
  padding: 2.5rem 0 4rem 0;
}
.footer-links a {
  text-decoration: none;
  color: var(--white);
}
.footer-links li {
  list-style: none;
}
table {
  margin-left: 3rem;
}
table a {
  text-decoration: none;
  color: var(--white);
  padding: 1rem;
}
th {
  color: var(--white);
  font-size: 2.5rem;
  text-align: start;
  padding-top: 2rem;
  padding-right: 5rem;
}
.socials {
  padding-top: 3rem;
}

/*---------------------Good Food-----------------------------*/
/*---------------------Local Travel-------------------------*/

.good-food h2,
.local-travel h2 {
  font-size: 5rem;
  color: var(--lt-grey);
  line-height: 4.5rem;
}
.good-food h2 > span {
  color: var(--dker-grey);
  font-size: 7rem;
}
.local-travel h2 > span {
  color: var(--off-green);
  font-size: 7rem;
}

.all-good-food,
.all-local-travel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.all-good-food p {
  font-size: 1.5rem;
  padding-right: 3rem;
  margin-top: 2rem;
}
button {
  font-size: 1.5rem;
  border-radius: 3rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  margin-top: 1rem;
  background-color: var(--dker-grey);
  border: none;
  color: var(--white);
}
.good-food-img img:first-of-type {
  position: relative;
  top: 2.5rem;
  left: 11rem;
  z-index: -1;
}
.all-local-travel {
  background-color: var(--off-white);
  height: 27rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.all-local-travel > img {
  margin-left: 20.5rem;
}
.local-travel > button {
  position: relative;
  top: 1rem;
  left: 15rem;
}
.local-travel > h2 > span {
  position: relative;
  left: -15rem;
}
.local-travel > h2 {
  position: relative;
  left: 15rem;
}

/*---------------------Stuff-------------------------*/
.stuff > h2 {
  position: relative;
  left: 40rem;
  font-size: 8rem;
}

.stuff > svg {
  fill: red;
  position: relative;
  top: 5.25rem;
  left: 38rem;
  width: 4rem;
  z-index: 1;
}

.all-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.card {
  background-color: var(--off-white);
  font-size: 2rem;
  height: 39rem;
  max-width: 29rem;
  margin-bottom: 50rem;
}
.card > h3 {
  text-transform: capitalize;
  font-size: 4rem;
  display: inline-block;
  max-width: min-content;
  line-height: 4rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
}
.card > a {
  text-transform: uppercase;
  color: var(--black);
  margin-left: 3rem;
}
.card > img {
  width: 23rem;
  height: 31rem;
  position: relative;
  top: 2rem;
  left: 3rem;
}
.card > p {
  width: 23rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

/*---------------------video blog-------------------------*/

.video-blog {
  display: flex;
  font-size: 2rem;
  background-color: var(--dk-grey);
  margin-left: 15rem;
  margin-right: 40rem;
  margin-bottom: 3rem;
  padding: 6rem;
  color: var(--white);
}
.vb-text>button{
  background-color: var(--white);
  color: var(--dker-grey);
  position: relative;
  left: 48rem;
}
.video-blog h2 {
  display: inline-block;
  max-width: min-content;
  line-height: 4.5rem;
  font-size: 6rem;
  position: relative;
  left: 45rem;
}
.video-blog h2>span{
 font-size: 8rem;
}
.video-blog img{
  position: relative;
  left: 47rem;
  width: 40%;
}
.vb-text p{
  position: relative;
  left: 48rem;
  height: 7rem;
  width: 30rem;
  margin-right: 4rem;
}
