/*------------------------Fonts----------------------------- */
@font-face {
  font-family: "Cooper Hewitt";
  src: url(/assignment-two-responsive-nav-assets/CooperHewitt-Heavy.otf);
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
}

body {
  font-family: "merriweather sans";
}
h1,
h2,
h3 {
  font-family: "cooper hewitt";
}

/*----------------------------colors-----------------------*/
:root {
  --dk-grey: #3e3e3e;
  --dker-grey: #404040;
  --white: #f2f2f2;
  --lt-grey: #707070;
  --off-white: #f1f1f1;
  --off-green: #727812;
  --black: black;
  --yellow: #b29124;
  --red: red;
  --orange: #c55614;
}

/* ----------------------baseline-------------------------- */
.hidden {
  display: none;
}
svg {
  fill: var(--white);
  width: 3rem;
  color: var(--white);
  margin-left: 1rem;
}
header {
  background-color: var(--dk-grey);
  display: flex;
}
header h3 > a:hover {
  color: var(--off-green);
}
header ul li > ul li:hover {
  background-color: var(--lt-grey);
  border-radius: 2rem;
  width: 90%;
}
button:hover {
  cursor: pointer;
  background-color: var(--orange) !important;
  color: var(--white) !important;
}
button {
  font-size: 1.5rem;
  border-radius: 3rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  margin-top: 1rem;
  background-color: var(--dker-grey);
  border: none;
  color: var(--white);
}

/* ------------------------------nav-------------------------*/
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li:hover ul {
  display: block;
  position: absolute;
  background-color: var(--dk-grey);
}

nav a {
  color: var(--white);
  font-size: 2.5rem;
}
nav ul li ul li a:hover {
  text-decoration: none;
}
nav ul li ul li a {
  text-align: center;
  white-space: nowrap;
  padding-bottom: 1rem;
}
nav ul li a {
  text-decoration: none;
  display: flex;
  margin-right: 3rem;
  padding: 1rem;
}
nav ul li ul li a {
  text-decoration: underline;
}
.home {
  font-weight: 900;
  text-decoration: none;
  font-size: 5rem;
  margin-left: 4rem;
}

/*-------------------------------------footer------------------------------------ */
.footer-links a:hover {
  color: var(--off-green);
}
.footer-links ul li:first-child {
  color: var(--white);
  font-weight: 900;
  font-size: 2rem;
}

footer {
  padding: 2.5rem 0 4rem 0;
  background-color: var(--dk-grey);
  font-size: 2rem;
}

.footer-links a {
  text-decoration: none;
  color: var(--white);
}
.footer-links li {
  list-style: none;
}
.footer-links {
  display: flex;
  margin-left: 6rem;
}
.footer-links > ul:nth-child(2),
.footer-links > ul:nth-child(3) {
  margin-left: 5rem;
}
.socials {
  padding-top: 3rem;
}

footer svg:hover {
  fill: var(--off-green);
}

/*---------------------Good Food-----------------------------*/
/*---------------------Local Travel-------------------------*/
.all-local-travel {
  background-color: var(--off-white);
  min-width: 150%;
  justify-content: center;
}
.good-food h2,
.local-travel h2 {
  font-size: 5rem;
  color: var(--lt-grey);
  line-height: 4.5rem;
}
.good-food h2 > span {
  color: var(--dker-grey);
  font-size: 7rem;
}
.local-travel h2 > span {
  color: var(--off-green);
  font-size: 7rem;
}

.all-good-food p {
  font-size: 1.5rem;
  padding-right: 3rem;
  margin-top: 2rem;
}

/*---------------------Stuff-------------------------*/
.stuff > h2 {
  color: var(--dk-grey);
}
.stuff > svg {
  fill: red;
  width: 4rem;
  z-index: 1;
}
.card {
  background-color: var(--off-white);
  font-size: 2rem;
}
.card > h3 {
  text-transform: capitalize;
  font-size: 4rem;
  display: inline-block;
  max-width: min-content;
  line-height: 4rem;
  color: var(--yellow);
}
.card > a {
  text-transform: uppercase;
  color: var(--black);
  margin-left: 3rem;
}
.card > a:hover {
  color: var(--off-green);
}

/*---------------------video blog-------------------------*/
.video-blog {
  font-size: 2rem;
  background-color: var(--dk-grey);
  color: var(--white);
}
.video-blog h2 {
  display: inline-block;
  max-width: min-content;
  line-height: 6rem;
  font-size: 6rem;
}
.video-blog h2 > span {
  font-size: 8rem;
}
.vb-text > button {
  background-color: var(--white);
  color: var(--dker-grey);
}
